<style>
.footer{
  background: #fdcf0b;
  padding: 0 4%;
}

.grid-footer {
  display: grid;
  grid: 1fr / repeat(auto-fit, minmax(400px, 1fr));
}

.tawog img {
  width: 100%;
}

.en {
  text-align: right;
}
.ru {
  text-align: left;
}
</style>
<div class='footer'>
	<hr>
	<div class="grid-footer">
		<p class="par en">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, accusamus, omnis! Unde omnis atque quae voluptatibus numquam alias quia, excepturi ipsum, dolorum. Eveniet, doloribus? Consectetur, nesciunt at. Aspernatur, labore alias quaerat nam tempora reprehenderit hic.
		</p>
		<div class="tawog">
			<img src="/media/tawog.png" alt="The Amazing World of Gumball" width="24%">
		</div>
		<p class="par ru">
			Этот сайт создан фанатом "Удивительного мира Гамбола". Это не официальный сайт. бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
		</p>
	</div>
</div>