<div class='header'>
	<a href="/"><div class="logo-box"><img id='logo' src='/media/logo.svg'></div></a>
	
	<div class="find-box">
		<input class="inp-find" placeholder='Введите ваш запрос'>
		<button class="btn-find">
			Find
		</button>
	</div>
	<% if(user.login) { %>
	<div class="signinup">
		<a href='/character/<%= user.login %>' class='user green-lnk' id="login"><%= user.login %></a>
	</div>
	<% } else { %>
	<div class="signinup">
		<a href='/auth/create' class='user green-lnk' id="create">
			Create Account
		</a>
		
		<hr id='hr1'>
		
		<a href='/auth/login' class='user green-lnk' id="login">
				Login
		</a>
	</div>
	<% } %>
	<hr id='hr2'>
</div>