<div class='header'>
	<a href="/"><div class="logo-box"><img id='logo' src='../media/logo.svg'></div></a>
	
	<div class="find-box">
		<input placeholder='Введите ваш запрос'>
		<button class="btn-find">
			Find
		</button>
	</div>

	<div class="signinup">
		<a href='/auth/create' class='user green-lnk' id="create">
			Create Account
		</a>
		
		<hr id='hr1'>
		
		<a href='/auth/login' class='user green-lnk' id="login">
				Login
		</a>
	</div>
	<hr id='hr2'>
</div>