<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="../media/favicon.svg">
		<link href="../style.css" rel="stylesheet" type="text/css"/>
		<title>Login</title>

		<link href="style.css" rel="stylesheet" type="text/css"/>
		<link href="dark.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<div class="favicon">
		<a href="/">
			<img src="../media/favicon.svg">
		</a>
	</div>

		<div id="wrapper">
			<h3>Login</h3>

				<div>Logine</div>
				<input>

				<div>Password</div>
				<input type="password">

				<a href="../reset/reset.html" class="min_text" target="_blank">Reset password</a>
				<a href="../create/create.html" class="min_text" target="_blank">New account</a>

			<a href="../MAIN/main.html" id="login" target="_blank">Login</a>
		</div>

	<script src="script.js" defer></script>
	</body>
</html>
