<%- include("layouts/header") %>

	
<!-- Display -->
	<div id="display">
		<h1>Gumball123</h1>
		<h3>Uploads videos: 4</h3>
		<h3>Likes: 45</h3>
		<h3>Dislikes: 134</h3>
	</div>
	
<%- include("layouts/footer") %>