<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="../../media/favicon.svg">
		<link href="../css/create/style.css" rel="stylesheet" type="text/css"/>

		<script src="script.js" defer></script>
		<title>Create new account</title>
		<!-- main css files -->
		<link href="../css/main.css" rel="stylesheet" type="text/css"/>
		<link href="../css/btns.css" rel="stylesheet" type="text/css"/>
		<!-- layouts -->
		<link href="../css/header.css" rel="stylesheet" type="text/css"/>
		<link href="../css/footer.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<%- include("layouts/header") %>
		<div class="wrapper-box">
			<div class="wrapper">
				<h3>Create new account</h3>

					<div>Logine</div>
					<input class="user-field green-inp">

					<div id="pass">Password</div>
					<input class="user-field green-inp" type="password">
					
					<div>Repeat</div>
					<input class="user-field green-inp" type="password">

					<a href="/" class="min_text green-lnk">Back</a>
					<a href="login" class="min_text green-lnk">Login</a>

				<button class="create green-btn">Create</button>
			</div>
		</div>
		<%- include("layouts/footer") %>
	</body>
</html>
