<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="../media/favicon.svg">
		<link href="../css/login/style.css" rel="stylesheet" type="text/css"/>
		<title>Login</title>
		<!-- main css files -->
		<link href="../css/main.css" rel="stylesheet" type="text/css"/>
		<link href="../css/btns.css" rel="stylesheet" type="text/css"/>
		<!-- layouts -->
		<link href="../css/header.css" rel="stylesheet" type="text/css"/>
		<link href="../css/footer.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<%- include("layouts/header") %>
		<div class="wrapper-box">
			<div class="wrapper">
				<h3>Login</h3>

					<div>Logine</div>
					<input class="user-field green-inp">

					<div>Password</div>
					<input class="user-field green-inp" type="password">

					<a href="reset" class="green-lnk">Reset password</a>
					<a href="create" class="green-lnk">New account</a>

				<button class="login green-btn">Login</button>
			</div>
		</div>

		<%- include("layouts/footer") %>
	</body>
</html>
