<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../style.css" rel="stylesheet" type="text/css"/>

	<link href="../main/header.css" rel="stylesheet" type="text/css"/>

<!-- Styles -->
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="stylesheet" href="style2.css" type="text/css">

<!-- Title -->
	<title>William Exam Fail!</title>
</head>
<body>
	<%- include("layouts/header") %>

	
<!-- Display -->
	<div id="display">
		
	</div>
	
	<%- include("layouts/footer") %>

<% data.forEach(function(user) { %>
<% }); %>
</body>
</html>


