<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/media/favicon.svg">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/btns.css" type="text/css">
	<link rel="stylesheet" href="/css/main.css" type="text/css">
	<title>Polygon</title>
</head>
<body>
<style>
body {
	background: gray;
}
body>div {
	width: 1080px;
	height: 3000px;
}
body>div>div {
	background: #fff;
	padding: 40px;
}
</style>



<div>
<div>
	<h1>Hello</h1>
	<button class="gumball-btn btn">Gumball</button>
	<button class="anais-btn btn">Anais</button>
	<button class="darwin-btn btn">Darwin</button>
	<br>
	<button class="green-btn btn">Green</button>
	<button class="red-btn btn">Red</button>
	<button class="lgreen-btn btn">Light green</button>
	<button class="lred-btn btn">Red</button>
	<a class="green-lnk">Green link</a>
	<a class="blue-lnk">Blue link</a>
	<input class="inp" type="text" name="" id="">
	<input class="inp green-inp" type="text" name="" id="">
	<img class="like like-btn" src="/media/img/like.svg" alt="likes"><span class="like-count">2</span>
	<img class="dislike dislike-btn" src="/media/img/dislike.svg" alt="dislikes"><span class="dislike-count">1</span>
</div>
</div>


<script>
console.log('Work!')
</script>
</body>
</html>