<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/x-icon" href="../../media/favicon.svg">
		<link href="../../style.css" rel="stylesheet" type="text/css"/>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="script.js" defer></script>
		<title>Reset password</title>
	</head>
	<body>
	<a href="/"><img src="../../media/logo.svg" class="logo"></a>
		<div id="wrapper">
			<h3>Reset password</h3>

				<div>Logine</div>
				<input>

				<a href="create" class="min_text">New account</a>
				<a href="login" class="min_text">Login</a>

			<a href="find" id="login">Find</a>
		</div>
	</body>
</html>
