.btn, .alr {
  border: solid 2px;
  border-radius: 6px;
  padding: 8px;
}

.green-lnk {
  font-size: 14px;
  color: #34b44a;
}
.green-lnk:hover {
  text-decoration: underline;
}

.blue-lnk {
  color: #009fff;
}
.blue-lnk:hover {
  text-decoration: underline;
}

.lgreen-btn {
  background: #fff;
  color: #34b44a;
  border-color: #34b44a;
  font-size: 16px;
}
.lgreen-btn:hover {
  background: #34b44a;
  color: #fff;
}

.green-btn {
  background: #caffd0;
  color: #34b44a;
  border-color: #34b44a;
  font-size: 20px;
}
.green-btn:hover {
  background: #9fffaa;
}

.green-inp {
  border: solid 1px black;
  opacity: 0.5;
  color: #34b44a;
  font-size: 16px;
  font-weight: bold;
}
.green-inp:focus-within {
  border-bottom: solid 1px black;
  opacity: 1;
}

.inp {
  border: solid 2px #737b8e;
  color: #737b8e;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
}

.alr {
  background: #ececec;
  font-weight: bold;
  min-width: 200px;
}
.alr .img {
  min-width: 24%;
  float: left;
  height: 100%;
  margin-right: 16px;
}
.alr .img img {
  max-width: 70%;
}
.alr .title .text {
  color: #727272;
  font-size: 14px;
}

.success-alr {
  border-color: #5cd36e;
  color: #5cd36e;
}

.error-alr {
  border-color: #f58484;
  color: #f58484;
}